html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin:0;
}

nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border-bottom: 2px solid #E8E8E8;
}

.moreInfo{
    display: flex;
    justify-content: center;
    padding: 25px;
    border-bottom: 2px solid #E8E8E8;
}

.discovery {
    padding-left: 10px; 
    padding-right: 5px;
    border-right: 2px solid #E8E8E8;
}

.delivery {
    padding-left: 10px; 
}

.filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 0 10px 0;
    font-size: 15px;
    border-top: 2px solid #E8E8E8;
    border-bottom: 2px solid #E8E8E8;
}

.sorting-container p {
    margin: 0 15px;
}

.filter-container p {
    margin: 0 5px;
}
  
.rating-options {
    display: flex;
}
  
.rating-option {
    display: flex;
    margin: 0 5px;
    align-items: center;
}
  
button {
    margin: 0 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.filter-container, .sorting-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px
}

.city {
    text-align: center;
}

.restaurants {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0; 
}

.box {
    width: 250px;
    justify-content: center;
    border-radius: 8px;
    border: 2px solid #E8E8E8;
    margin: 20px;
}

.image {
    width: 100%;
    height: 150px;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

h2 {
    font-size: 15px;
    margin: 0;
    height: 35px;
    padding: 15px 15px 0 15px;
}

p {
    font-size: 12px;
    margin: 0;
}

.address {
    height: 30px;
    padding: 0 15px;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    border-top: 1px solid #E8E8E8;
    padding: 5px 15px;
    margin-top: 5px;
}

footer {
    border-top:2px solid #E8E8E8;
    padding: 40px;
    text-align: center;
}

.attribution {
    font-size: 12px;
}

.attribution a {
    text-decoration: none;
    color: black;
}

/** Media Queries Tablet **/

@media (min-width: 668px) {
    .restaurants { 
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
}